@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.linkButtons {
    background-color:#f0f0f0;
    border: 2px;
    box-shadow: 0px 0px 3px 1px rgb(163, 163, 163);
    width: 20em;
    height: 3em;
    margin-bottom: 1.5em;
    margin-left: 0.8em;
    text-align: center;
}

.linkButtons button {
    margin-top: 0.75em;
    font-family: "Lexend";
    font-weight: 500;
}

.linkButtons:hover {
    background-color:rgb(26, 26, 26);
    color: #f0f0f0;
}


